.video_banner{
    position: absolute;
    top: 0;
    z-index: -1;
}
.video_banner:before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 25%);
}

.box_lang{
    background: var(--white-color);
    box-shadow: 0 0 5px;
    border-radius: 5px;
    min-width: 120px;
}

.box_lang li:hover{
    background: #eee;
}
.card-popular {
    padding: 15px;
    border-radius: 24px;
    margin-bottom: 24px;
    background: var(--white-color);
}
.hover-up {
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hover-up:hover {
    transform: translateY(-3px);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.card-popular .card-image {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.card-popular .card-image img {
    display: block;
    width: 100%;
}
.card-info {
    overflow: hidden;
}
.card-popular .card-info .card-title {
    font-size: 17px;
    line-height: 28px;
    font-weight: normal;
    color: var(--black-color);
    margin-bottom: 4px;
    display: block;
}
.card-popular .card-info .card-title:hover {
    color: var(--theme-color) !important;
}
.card-popular .card-info .card-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-popular .card-info .card-meta .meta-links a {
    color: var(--second-theme-color);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.card-popular .card-info .card-meta .card-button a {
    display: inline-block;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background-color: var(--theme-color);
}
.card-popular .card-info .card-meta .card-button a svg {
    stroke: var(--white-color);
}
.card-popular .card-info .card-meta .card-button a:hover {
    background-color: var(--second-theme-color);
}

.about-thumb-1 ,
.about-thumb-2,
.about-thumb-3{
    text-align: right;
    position: relative;
}

.about-thumb-1 img,
.about-thumb-2 img,
.about-thumb-3 img{
    border-radius: 20px;
    width: 100%;
}

.about-thumb-1{
    margin: 0 0 10px auto;
    height: 350px;
    width: 75%;
    display: flex;
    align-items: center;
}
.about-thumb-1 img{
    min-height: 100%;
}

.about-thumb-2{
    float: right;
    width: 30%;
    top: -70px;
    margin: 0 30px 0 0;
    height: 200px;
    display: flex;
    align-items: center;
}
.about-thumb-2 img{
    min-height: 100%;
}
.about-thumb-3{
    float: right;
    width: 50%;
    top: -70px;
    margin: 0 20px 0 0;
    height: 180px;
    display: flex
;
    align-items: center;
}
.about-thumb-3 img{}

.icon_play{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background: var(--white-color);
    width: 60px;
    height: 60px;
    color: var(--second-theme-color);
    border-radius: 100%;
    margin: auto;
    font-size: 24px;
    line-height: 60px;
}
.icon_play:hover{
    background: var(--theme-color);
    color: var(--white-color);
}
.icon_play i{}


.des_par{
    font-size: 17px;
    letter-spacing: 0;
    margin: 5px 0 0 0;
}

.show-more-height {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}


.style_pra{
    font-family: var(--body-font);
    text-align: center;
    margin: 25px 0;
    font-weight: normal;
}

.style_pra p{
    font-size: 17px;
    color: var(--black-color);
    letter-spacing: normal;
    margin: 0 0 15px 0;
}

.show-more-pra{
    font-size: 17px;
    margin: 5px 0;
    color: #3959ff;
    cursor: pointer;
}

.destination-thumb-large{
    height: 500px;
    display: flex;
    align-items: center;
}

.destination-thumb-small{
    height: 240px;
    display: flex;
    align-items: center;
}

.destination-thumb-small img{
    width: 100%;
    min-height: 100%;
}

.destination-content.block-small{
    padding: 15px;
}

.destination-thumb-small a,
.destination-thumb-large a{
    display: block;
    height: 100%;
    width: 100%;
}

.destination-box-2 .destination-content.block-small .title{
    font-family: var(--body-font);
    font-size: 21px;
    font-weight: 500;
    text-shadow: 0 0 20px #000;
    line-height: 30px;
}

.destination-thumb{position: relative}
.destination-thumb:before{
    position: absolute;
    content: "";
    bottom: 0;
    top: 40%;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 70%));
}
.des_block_large{
    color: var(--white-color);
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.des_head_page{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.nu-offpage{

}

.sort_tours{
    width: 200px;
    padding: 0;
    height: auto;
    border: 0;
    appearance: auto;
}

.banner_bin{
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
    position: relative;
}

.desc_banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 25px 100px;
}
.desc_banner h3{
    color: #ddd;
    margin: 0 0 10px 0;
}

.desc_banner p{
    color: #7a7a7a;
}

.breadcrumb_singlepage{
    padding: 130px 0 0 0;
    background: #f5f5f5;
    margin: 0 0 2px 0;
}

.tit_main_tour{
    margin: 0 0 15px 0;
}

.tit_main_tour h1{
    font-family: var(--body-font);
    font-size: 28px;
    font-weight: 500;
}

.option_tour{
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0;
}

.option_tour span{
    font-weight: normal;
}

.price_tour{
    display: block;
    background: var(--theme-color);
    color: var(--white-color);
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 24px;
}
.price_tour small{
    font-size: 14px;
    margin: 0 0 5px 0;
    display: block;
    font-weight: normal;
}

.gallery-box-large{
    height: 430px;
    display: flex;
    align-items: center;
}
.gallery-box-large img{
    min-height: 100%;
}
.gallery-box-small{
    height: 211px;
    display: flex;
    align-items: center;
}
.gallery-box-small img{
    min-height: 100%;
}

.other_photo{
    position: absolute;
    bottom: 50px;
    z-index: 999;
    left: 40px;
    border: 2px solid #dfff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 17px;
    color: #ffff;
    text-shadow: 0 0 12px #000;
}

.block_tit_tour{
}

.table_price{
    font-weight: normal;
    font-size: 16px;
    color: var(--black-color);
}
.table_price tr,
.table_price td,
.table_price th{
    border: 1px solid #ddd;
    padding: 15px;
}


.table_price th{
    background: var(--theme-color);
    color: var(--white-color);
}
.table_price td{
    background: #eee;
}

.Accommodation-price{
    border: 1px solid #ddd;
    padding: 15px 20px 0 20px !important;
}

.Accommodation-price h6{
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 5px 0;
}

.destination-request{
    background: #f5f5f5;
    padding: 5px 40px 40px 40px;
    margin: 20px 0 0 0;
}

.destination-request input,
.destination-request select,
.destination-request textarea{
    background: #f5f5f5;
}

.inquire-form{
    background: transparent;
    padding: 0 25px 15px 25px;
}
.inquire-form input,
.inquire-form select,
.inquire-form textarea{
    border: 1px solid #ddd;
}

.banner_bin{
    display: none;
}

div.accordion-button:after{
    display: none;
}

.sidebar-support p strong{
    font-weight:normal;
}
.sidebar-support p{
    margin: 10px 0;
    background: #f5f5f5;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: normal;
}

.blog-img-content{
    height: 250px;
    display: flex;
    align-items: center;
}
.blog-img-content img{
    width: 100%;
    min-height: 100%;
}

/* Error Page */

.error{
    padding: 50px;
}

.error .clip .shadow
{
    height: 180px;  /*Contrall*/
}
.error .clip:nth-of-type(2) .shadow
{
    width: 130px;   /*Contrall play with javascript*/
}
.error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
{
    width: 250px; /*Contrall*/
}
.error .digit
{
    width: 150px;   /*Contrall*/
    height: 150px;  /*Contrall*/
    line-height: 150px; /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}
.error h2   /*Contrall*/
{
    font-size: 32px;
}
.error .msg /*Contrall*/
{
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}
.error span.triangle    /*Contrall*/
{
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}


.error .container-error-404
{
    margin-top: 10%;
    position: relative;
    height: 250px;
    padding-top: 40px;
}
.error .container-error-404 .clip
{
    display: inline-block;
    transform: skew(-45deg);
}
.error .clip .shadow
{

    overflow: hidden;
}
.error .clip:nth-of-type(2) .shadow
{
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
}

.error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after
{
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
    border-radius: 50%;
}
.error .clip:nth-of-type(3) .shadow:after
{
    left: -8px;
}
.error .digit
{
    position: relative;
    top: 8%;
    color: white;
    background: var(--theme-color);
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}
.error .clip:nth-of-type(2) .digit
{
    left: -10%;
}
.error .clip:nth-of-type(1) .digit
{
    right: -20%;
}.error .clip:nth-of-type(3) .digit
 {
     left: -20%;
 }
.error h2
{
    color: #A2A2A2;
    font-weight: bold;
    padding-bottom: 20px;
}
.error .msg
{
    position: relative;

    display: block;
    background: #535353;
    color: #A2A2A2;
    border-radius: 50%;
    font-style: italic;
}
.error .triangle
{
    position: absolute;

    transform: rotate(45deg);
    content: "";
    width: 0;
    height: 0;
}

.content_thankyou{
    text-align: center;
    padding: 150px 0 60px 0;
}
.content_thankyou h1{
    font-size: 60px;
}
.content_thankyou i{
    font-size: 150px;
    color: var(--theme-color);
}
.content_thankyou p{
    font-size: 15px;
    color: #000;
}

.content_thankyou a{
    width: 200px !important;
    margin: 25px 0 0 0 !important;
    font-size: 17px !important;
    padding: 0 0 !important;
}

/* Error Page */
@media(max-width: 767px)
{
    /* Error Page */
    .error .clip .shadow
    {
        height: 100px;  /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow
    {
        width: 80px;   /*Contrall play with javascript*/
    }
    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
    {
        width: 100px; /*Contrall*/
    }
    .error .digit
    {
        width: 80px;   /*Contrall*/
        height: 80px;  /*Contrall*/
        line-height: 80px; /*Contrall*/
        font-size: 52px;
    }
    .error h2   /*Contrall*/
    {
        font-size: 24px;
    }
    .error .msg /*Contrall*/
    {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .error span.triangle    /*Contrall*/
    {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    .error .container-error-404
    {
        height: 150px;
    }
    /* Error Page */
}

.btn-number{
    background: var(--theme-color);
}
.btn-number:hover{
    background: var(--second-theme-color);
}
.btn-number-add{
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
}

.btn-number-mins{
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
}
.iti__country-list {
    z-index: 9999 !important;
}